:root {
  --heading-font-family: "Inter", sans-serif;
  --branding-color: #ff5c05;
  --main-color: #151312;
  --secondary-color: #ffffff;
}

body {
  background-color: var(--main-color);
}

h1,
h2 {
  font-family: var(--heading-font-family);
  font-size: 60px;
  font-weight: 900;
  color: var(--secondary-color);
}

h3 {
  font-family: var(--heading-font-family);
  font-weight: 800;
}

p {
  font-family: var(--heading-font-family);
  font-weight: 300;
  color: var(--secondary-color);
  font-size: 16px;
}

.btn-orange {
  background-color: var(--branding-color);
  color: var(--secondary-color);
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}

.btn-orange:hover {
  background-color: #e05504;
  color: var(--secondary-color);
}

.card {
  background-color: var(--secondary-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1.fw-bold + h1.fw-bold {
  margin-top: -20px;
}

@media (min-width: 992px) {
  .sticky-profile {
    position: sticky;
    top: 30px;
  }
}
