body {
  background-color: #151312;
}

h1,
h2 {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: white;
}

h5 {
  font-family: "Inter", sans-serif;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: white;
}

.btn-orange {
  background-color: #ff5c05;
  color: white;
}
.btn-orange:hover {
  background-color: #e05504;
  color: white;
}

.card {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.text-warning {
  color: #ff5c05 !important;
}
