:root {
  --heading-font-family: "Inter", sans-serif;
  --branding-color: #ff5c05;
  --main-color: #151312;
  --secondary-color: #ffffff;
}

body {
  background-color: var(--main-color);
  padding-top: 90px;
}

h1,
h2 {
  font-family: var(--heading-font-family);
  font-size: 60px;
  font-weight: 900;
  color: var(--secondary-color);
}

h3 {
  font-family: var(--heading-font-family);
  font-weight: 800;
}

h4 {
  font-family: var(--heading-font-family);
  font-weight: 800;
  font-size: 28pxpx;
}

h5 {
  font-family: var(--heading-font-family);
  font-size: 24px;
  color: var(--secondary-color);
  font-weight: 800;
}

p {
  font-family: var(--heading-font-family);
  font-weight: 300;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.5;
}

.btn-orange {
  background-color: var(--branding-color);
  color: var(--secondary-color);
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}

.btn-orange:hover {
  background-color: #e05504;
  color: var(--secondary-color);
}

.card {
  background-color: var(--secondary-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1.fw-bold + h1.fw-bold {
  margin-top: -20px;
}

.bg-dark {
  background-color: #1a1a1a !important;
}

.tool-description {
  line-height: 1.2;
}

a {
  color: rgb(201, 201, 201);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--branding-color);
}

.projects-link {
  background-color: var(--branding-color);
  padding: 1rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: var(--heading-font-family);
  font-size: 1.2rem;
  text-align: center;
  margin: 2rem auto;
  max-width: 600px;
  transition: transform 0.3s ease;
}

.projects-link:hover {
  transform: scale(1.03);
  background-color: #a9afb9;
}

.projects-link a {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.projects-link a::after {
  content: " →";
  transition: transform 0.3s ease;
}

.projects-link a:hover::after {
  transform: translateX(5px);
}

.contact-text {
  color: var(--secondary-color);
}

.navbar {
  background: transparent;
  z-index: 1030;
}

.nav-icons {
  background-color: #1a1a1a;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.nav-icons a {
  text-decoration: none;
  padding: 0.5rem;
  transition: transform 0.2s ease;
}

.nav-icons a:hover {
  transform: scale(1.2);
}

.small-tag {
  width: 100px;
  height: auto;
}

.footer-icons .hover-icon {
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-icons .hover-icon:hover {
  transform: scale(1.2);
  color: var(--branding-color);
}

.profile-icons a i {
  transition: transform 0.3s ease, color 0.3s ease;
}

.profile-icons a:hover i {
  transform: scale(1.2);
  color: #ffa14a;
}

.about-text {
  line-height: 1.5;
}

#about {
  margin-bottom: 80px;
}

#section-1 p {
  font-size: 14px;
}

#section-1 h3 {
  font-size: 25px;
}

#section-1 img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.sticky-profile .card {
  max-width: 420px;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 15px;
}

#section-2 h3 {
  font-size: 25px;
}

#section-2 p {
  font-size: 14px;
}

@media (min-width: 992px) {
  .sticky-profile {
    position: sticky;
    top: 30px;
  }
}

@media (max-width: 780px) {
  h1,
  h2 {
    font-size: 50px;
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  .btn {
    display: block;
  }
}

@media (max-height: 768px) {
  .first-section {
    min-height: 90vh;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }

  .first-section h1 {
    font-size: 2.5rem;
  }

  .first-section p {
    font-size: 0.95rem;
  }

  .sticky-profile .card {
    padding: 1.5rem;
  }
}
